---
layout: archive
classes: wide
---

{{ content }}

{% if paginator %}
  {% assign posts = paginator.posts | where_exp: "item", "item.lang contains site.active_lang"%}
{% else %}
  {% assign posts = site.posts | where_exp: "item", "item.lang contains site.active_lang"%}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type="grid" %}
  {% endfor %}
</div>

{% include paginator.html %}
